.header{
  height: 5vh;
  width: auto;
  font-size: 2rem;
  padding: 10px 0px;
  color: #000;
}
.barsIconContainer{
  display: flex;
}
.textUtmarChar{
  margin-left: 4vh;
  flex: 3;
  font-family: Verdana;
  font-size: 3rem;
  animation-name: utmarchar;
  color: yellow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes utmarchar{
  20%{
  color: red;  
  }
  40%{
   color: yelllow; 
  }
  60%{
   color:tomato; 
  }
  80%{
  color: yellow;  
  }
 100%{
color:coral;   
 } 
}
.barsIcon{
  flex: 1;
  color:#000;
  border-radius: 2px;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}
.barsIcon:hover{
  color:yellow;
}
.drop_list{
  display: none;
  background: #000;
  width: 15vh;
}
.bars{
  margin-left: 1rem;
}
.bars:hover .drop_list{
  display: block;
}
ul{
  padding: 0px;
}
li{
  list-style: none;
  color:#fff;
  padding: 5px 15px;
  border: 2px solid coral;
 transition: 1s;
}
li:hover{
  color:#000;
  background:yellow;
}

router{
}
nav{
display: flex;
justify-content:space-bettween;
align-items: center;
overflow: scroll;
border: 1px solid black;
}
nav div{
  padding: 20px;
}
.NavlinkDesign{
  color:#fff;
  background: #000;
  padding: 10px;
  font-family: Verdana;
  font-size: 3rem;
  text-decoration: none;
  border-radius:10px;
}
.NavlinkDesign:hover{
  background: pink;
  color:yellow;
}
