
.container{
  width: 992px;
  background: yellow;;
}
@media screen and (max-width: 720px) {
  .container{
  width: 720px;
  background:coral;
  font-family: Verdana;
  padding:10px;
  font-size: 1.8rem;
}
}
