.container{
  margin-top: 3rem;
  font-family:Verdana;
  text-align: center;
  color: #000;
  margin-left: 5vh;
}
.titleH1{
  color: yellow;
  background: #000;
  width: 600px;
  margin-left: 5vh;
  border-radius: 30px;

}
.lable{
 float:left; 
 padding: 0px 20px;
}
.input_form{
  float: right;
  height: 50px;
  width: 400px;
  margin-right: 22px;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 30px;
   box-shadow:  5px 5px 1px #000;
}
.forms{
 padding: 20px; 
 font-size: 2rem;
 width: 800px;
 display:grid;
 grid-template-columns: auto;
 gap: 2rem;
 border-radius: 20px;
 border: 1px solid blue;
 box-shadow: 5px 5px 2px #f6d8fd, -5px -5px 2px yellow;
}
@media screen and (max-width: 720px) {
  form{
    font-size:2rem;
    padding: 5px;
    width: 600px;
  }
  .container{
  font-family:Verdana;
  text-align: center;
  color: #000;
  margin-left: 5vh;
}
.titleH1{
  color: yellow;
  background: #000;
  width: 400px;
  margin-left: 15vh;
  border-radius: 30px;

}
.lable{
 float:left; 
 padding: 0px 20px;
}
.input_form{
  float: right;
  height: 50px;
  width: 300px;
  margin-right: 22px;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 30px;
}
}
